.rootScreen {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sideNav {
    flex: 15%;
    min-width: 240px;
    border-right: 1px solid black;
}

.detailsPanel {
    flex: 85%;
}



.no-text-decoration {
    text-decoration: none;
}

.menu-title {
    font-size: 16pt !important;
    font-family: 'Lucida Sans' !important;
    color: #1dfa67;
    margin: 16px 16px !important;
}

.menu-item {
    color: black !important;
    padding: 16px;
    margin: 0px 4px;
    font-size: 14pt;
    transition: 0.4s;
}

.menu-item:hover {
    background-color: #64619d;
    color: #67ddac !important;
    cursor: pointer;
    border-left: 5px solid #67ddac;
}