// Root level screens and navigation
.rootScreen {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sideNav {
    flex: 15%;
    min-width: 240px;
    border-right: 1px solid black;
}

.detailsPanel {
    flex: 85%;
}

// Side navigation menu
.no-text-decoration {
    text-decoration: none;
}

.menu-title {
    font-size: 16pt !important;
    font-family: 'Lucida Sans' !important;
    color: #1dfa67;
    margin: 16px 16px !important;
}

.menu-item {
    color: black !important;
    padding: 16px;
    margin: 0px 4px;
    font-size: 14pt;
    transition: 0.4s;
}

.menu-item:hover {
    background-color: #64619d;
    color: #67ddac !important;
    cursor: pointer;
    border-left: 5px solid #67ddac;
}

// Table
table {
    border: 0.5px solid #2e2e2e;
    border-collapse: collapse;
    margin: 8px;
}

thead {
    background-color: #2e2e2e;
    color: #f2f2f2;
    
}

th, td {
    padding: 8px;
}

tr {
    cursor: pointer;
}

tbody>tr:hover {
    background-color: #c0c0c0 !important;
}

tbody>tr:nth-child(odd) {
    background-color: #f0f0f0;
}